.footer {
    background-color: #252525;
    color: #676a6d;
    padding: 60px 0;
    width: 100%;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    
  }